html {
    font-size: 10px;
    font-family: "Oregano", cursive;
    background-color:rgb(236, 208, 232);
}

h1 {
    font-size: 80px;
    font-family: "Sedgwick Ave", cursive;
    text-align: center;
    background-color:rgb(201, 239, 169);
}

p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color:rgb(171, 229, 227);
}